:root {
    color-scheme: dark;
}

:root {
    color-scheme: dark;
}

.navbar.bg-dark {
    background-color: #000 !important;
}

div#actionbuttons {
    background: #454545;
}

#sidebar {
    background-color: #292B2C !important;

    .nav-link {
        color: #289BFF;

        &.active {
            color: white !important;
        }
    }

    .text-black {
        color: white !important;
    }

}

.jumbotron {
    background-color: #292B2C;
}

table#records tr.new td {
    background-color: #20544d;
}

table#records tr.error td {
    background-color: #542020;
}

table#records tr td.warning {
    background-color: #544420;
}

table tr.deleted td {
    background-color: #3a3a3a;
    color: #777;
}