:root {
    color-scheme: dark;
}

:root {
    color-scheme: dark;
}

div#actionbuttons {
    background: #454545;
}

#sidebar {
    background-color: #292B2C !important;

    .nav-link {
        color: #289BFF;

        &.active {
            color: white !important;
        }
    }

    .text-black {
        color: white !important;
    }

}

.jumbotron {
    background-color: #292B2C;
}

table#records tr.error td {
  background-color: #542020;
}

table#records tr.new td {
    background-color: #20544d;
}