:root {
    color-scheme: dark;
}

div#actionbuttons {
    background: #454545;
}

#sidebar {
    background-color: #454545 !important;

    .nav-link {
        color: #289BFF;

        &.active {
            color: white !important;
        }
    }

    a.nav-link:not(.active):hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    .text-black {
        color: white !important;
    }
}

.jumbotron {
    background-color: #454545;
}

table#records tr.new td {
    background-color: #20544d;
}

table#records tr.error td {
    background-color: #542020;
}

table#records tr td.warning {
    background-color: #544420;
}

table tr.deleted td {
    background-color: #3a3a3a;
    color: #777;
}