:root {
    color-scheme: dark;
}

div#actionbuttons {
    background: #454545;
}

#sidebar {
    background-color: #454545 !important;

    .nav-link {
        color: #289BFF;
    }

    .text-black {
        color: white !important;
    }
}

.jumbotron {
    background-color: #454545;
}

table#records tr.error td {
  background-color: #542020;
}

table#records tr.new td {
    background-color: #20544d;
}