/**********************************************************************
 * Base
 **********************************************************************/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.hidden {
  display: none;
}

/**********************************************************************
 * Heaaders
 **********************************************************************/

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/**********************************************************************
 * Sidebar
 **********************************************************************/
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}


/**********************************************************************
 * MiniGravatars
 **********************************************************************/
.minigravatar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #AAA;
}

.minigravatar img {
  opacity: 0;
}

/**********************************************************************
 * Records
 **********************************************************************/

table#soainfo th {
  width: 20%;
}

table#records th.name, table#records td.name {
  width: 20%;
}

table#records th.type, table#records td.type {
  width: 200px;
}

table#records th.priority, table#records td.priority {
  width: 100px;
}

table#records th.content, table#records td.content {
  swidth: 70%;
}

table#records th.ttl, table#records td.ttl {
  width: 100px;
}

table#records th.state, table#records td.state {
  width: 50px;
}

table#records th.actions, table#records td.actions {
  width: 200px;
}

table tr.deleted td {
  background-color: #f2dede;
  color: #a94442;
  text-decoration: line-through;
}

table tr.deleted td.actions {
  text-decoration: none;
}

table#records td input, table#records td select {
  width: 100%;
}

table#records tr.error td {
  background-color: #bcdff1
}
